.modal {
    position: fixed;
    top: 8em;
    left: 30em;
    width: 30em;
    height: auto;
    background-color: white;
    border-radius: 1em;
    color: black;
    padding: 0em 1em 4em 1em;
}

.modal .title {
    position: relative;
    top: -1.6em;
    left: 1em;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2em;
}

.modal .close {
    position: relative;
    left: 94%;
    width: fit-content;
    height: fit-content; 
    cursor: pointer;
    z-index: 20;
}

.modal .container {
    position: relative;
    top: 0.1em;
    left: 10%;
    width: 80%;
}

.modal .container .parameter {
    margin: 0.1em;
    display: inline-block;
    width: 100%;
}

.modal .container .parameter .color-picker{
    width: 20%;
    display: inline-flex;
}



@media screen and (max-width: 600px) {

    .modal {
        position: fixed;
        top: 8em;
        left: 4%;
        width: 84%;
        height: auto;
        background-color: white;
        border-radius: 1em;
        color: black;
        padding: 0em 1em 4em 1em;
    }
    
    .modal .title {
        position: relative;
        top: -1em;
        left: 1em;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2em;
    }

    .modal .close {
        left: 94%;
        width: fit-content;
        height: fit-content;
        
    }
    
    .modal .container {
        position: relative;
        top: 0.1em;
        left: 10%;
        width: 80%;
    }
    
    .modal .container div ul li {
        cursor: pointer;
    }

    .modal .container .parameter {
        margin: 0.1em; 
    }

    .modal .container .parameter input{
       width: 20%;
    }

    .modal .container .parameter input .color-picker{
        width: 20%;
        display: inline-block;
     }
 
    
    

}





.color-picker {
    width: 100%;
    padding: auto;
}

.color-picker .color {
    width: 20%;
    margin: 1%;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.color-picker .color .active{
    border: 4px solid black;
    cursor: pointer;
}