.nav {
    position: fixed;
    top: 0px;
    background: rgb(34, 45, 50);
    color: white;
    z-index: 1;
}

.topnav {
    width: 100%;
    height: 4em;
}

.sidenav {
    position: fixed;
    top: 0em;
    width: 14em;
    height: 100vh;
}

.sidenav .logo {
    position: fixed;
    top: 1em;
    left: 0.6em;
    font-size: 20px;
}

.sidenav .navs {
    position: absolute;
    top: 4em;
}

.sidenav .close {
    position: absolute;
    left: 16em;
}

.sidenav .navs .nav-link {
    font-size: 18px;
    width: 11em;
    padding: 4px 0px 0px 4px;
    cursor: pointer;
}

.sidenav .navs .nav-link .link {
    font-size: 18px;
    width: 11em;
    height: 36px;
    padding: 4px 0px 0px 15px;
    cursor: pointer;
}

.sidenav .navs .nav-link .link:hover {
    background-color: rgb(44, 59, 65, 0.8); 
}

.sidenav .navs .nav-link .link .sub {
    font-size: 18px;
    width: 10em;
    padding: 4px 0px 0px 15px;
    background-color: rgb(44, 59, 65, 0.8);
}

.sidenav .navs .nav-link .link .sub .link{
    height: 24px;
}

.tool-bar {
    position: fixed;
    top: 8px;
    left: 14em;
    width: 66em;
    background-color: whitesmoke;
    z-index: 2;
    height: 3em;
}

.tool-bar .menu {
    display: none;        
}

.tool-bar .tools {
    position: absolute;
    top: 0.6em;
    right: 1em;
}

.tool-bar .tools .indicator {
    margin-left: 10px;
    position: relative;
    top: -0.6em;
    height: 2em;
}


@media screen and (max-width: 600px) {
      
    .nav {
        position: fixed;
        top: 0px;
        background: rgb(34, 45, 50);
        color: white;
        z-index: 1;
    }

    .topnav {
        width: 100%;
        height: 4em;
    }

    .sidenav {
        display: none;
    }

    .sidenav-mov {
        display: block;
        position: fixed;
        top: 0;
        width: 80%;
        height:100vh;
        z-index: 4;
    }

    .sidenav-mov .navs {
        position: absolute;
        top: 4em;
    }

    .sidenav-mov .navs .nav-link {
        font-size: 18px;
        width: 11em;
        padding: 4px 0px 0px 4px;
        cursor: pointer;
    }

    .sidenav-mov .navs .nav-link .link {
        font-size: 18px;
        width: 15em;
        min-height: 50px;
        padding: 4px 0px 0px 30px;
    }

    .sidenav-mov .navs .nav-link .link .sub {
        font-size: 18px;
        width: 15em;
        padding: 4px 0px 0px 30px;
        background-color: rgb(44, 59, 65, 0.8);
    }

    .sidenav-mov .navs .nav-link .link .sub .link{
        height: 24px;
    }
    
    .tool-bar {
        position: fixed;
        top: 8px;
        left: 4%;
        width: 92%;
        background-color: whitesmoke;
        z-index: 2;
        height: 3em;
    }

    .tool-bar .menu {
        position: relative;
        display: block;
        left: 2%;
        top: 16%;
    }

    .tool-bar .tools {
        position: absolute;
        top: 0.6em;
        right: 1em;
    }

    .tool-bar .tools .indicator {
        margin-left: 10px;
        position: relative;
        top: -0.6em;
        height: 2em;
    }


}