node_modules
/front-end/node_modules
/server/.env
/server/node_modules
/.env

/sampleData/Forex/AUDUSD.json
/sampleData/Forex/GBPUSD.json
/sampleData/Forex/USDJPY.json
/sampleData/Forex/USDCAD.json

/sampleData/Crypto/BTCUSD.json
/sampleData/Crypto/ETHUSD.json

/sampleData/Metals/XAUUSD.json
/sampleData/Metals/XPDUSD.json